body{
    background: white;
    margin: 0px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    display: block;
    width: 480px;
    border: 5px solid black;
}
header{
    text-align: center;
    background: slategrey;
    padding: 30px;
    color: white;
}
header h1{
    font-size: 72px;
}
section{
    margin: 30px;
    border: 5px solid black;
    padding: 20px;
    color: black;
}
article{
    margin: 30px;
    padding: 20px;
}
#html{
    background: peachpuff;
    border: 5px solid sienna;
}
#html h3{
    font-size: 40px;
    color: sienna;
}
#css{
    background: lightblue;
    border: 5px solid darkslategray;
}
#css h3{
    font-size: 40px;
    color: darkslategray;
}
footer{
    padding: 10px;
    background: slategrey;
}
footer small{
    font-size: 10px;
    color: white;
}